<!--The content below is only a placeholder and can be replaced.-->

<h1>Lista de Alumnos</h1>

<div class="container">
  <div class="row">
      <div class="col-sm">
        id
      </div>
      <div class="col-sm">
          Nombre
      </div>
      <div class="col-sm">
            Email
      </div>
  </div>
</div>

<div *ngFor='let user  of users$' style="text-align:left">
    <div class="container">
        <div class="row">
          <div class="col-sm">
              <p>{{ user.id}}</p>
          </div>
          <div class="col-sm">
            <p>{{ user.name}}</p>
          </div>
          <div class="col-sm">
            <p>{{ user.email}}</p>
          </div>
        </div>
      </div> 
</div>
<app-usuarios></app-usuarios>



